/* You can add global styles to this file, and also import other style files */

#formulaire {
  margin-bottom: 40px;
}

.center {
  text-align: center;
}

.lbl-radio {
  margin-left: 5px;
}

[type="radio"]{
  margin-left: 30px;
  cursor: pointer;
}

.color-red {
  color: red;
}

#required-text {
  color:red;
}

#btn-valider {
  margin-top: 15px;
}

#header {
  height: 30px;
}

.mt-6{
  margin-top: 4rem !important;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}
